# Dependencies
node_modules/
.DS_Store
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
